extends layout
// kids need: id, name, gender, division
// coaches need: id, name, gender
// teams need: allocate appropriate number, able to add more, and adjust numbers
// links between kids and coaches
// would love to jquery some info into various containers:
//   number of participants (in division and in teams)
//   number of coaches (in each team)
// niceties:
//   coach requests
//   renumber teams?? in divisions above if we add teams
// A separate container for draggable coaches
// CREATE TABLE players (rowid integer primary key not null, pId text, pName text, pGender text, pAge integer, pDivision text);
// CREATE TABLE links (rowid integer primary key not null,lpId text, lvId text);
// CREATE TABLE volunteers (rowid integer primary key not null, vId text, vName text, vGenger text, vAge integer, vTitle text);
// CREATE TABLE team (rowid integer primary key not null, tId text, tName text, tNum int);
// CREATE TABLE teamMapPlayer (rowid integer primary key not null, mtId text, mpId text);
// CREATE TABLE teamMapVolun (rowid integer primary key not null, mtId text, mvId text);
block content
  h1= title
  p Welcome to #{title}

  #coaches.coaches(ondrop="drop(event)" ondragover="allowDrop(event)")
    p.coachdrop Coaches List
    each cch in coaches
      div(id="coach-#{cch.uuid}",class="coach",draggable="true",ondragstart="drag(event)" ondragend="handleDragEnd(event)")  #{cch.name}
  #divisions
    each d in divisions
      div(id="division-#{d.name}",class="division #{d.name}")
        div(id="teams-#{d.name}",class="teams")
          p.nodrop #{d.name} Division Teams
          each  t in d.teams
            div(uuid="team-#{t.uuid}",class="team",ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="handleDragEnter(event)" ondragleave="handleDragLeave(event)")
               p.team-label.nodrop #{t.name}
        div(id="players-#{d.name}",class="players",ondrop="drop(event)" ondragover="allowDrop(event)")
          p.playerdrop #{d.name} Division Players
          each p in d.players
            div(id="player-#{p.uuid}",class="player",draggable="true",ondragstart="drag(event)" ondragend="handleDragEnd(event)") #{p.name} (#{p.age}) (#{p.dependent})
